<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="background: #f9f9f9;font-family: arial, sans-serif;">
<tbody>
<tr>
	<td align="center">
		<div>
			<br>
			<img src="https://www.tp3developers.cl/cetialumnos/public/images/logo-ceti-no-fondo.png" width="445" height="auto" alt=""><br>
			<br>
		</div>
	</td>
</tr>
<tr>
	<td style="height:8px;background-color: #040f17;">
	</td>
</tr>
<tr>
	<td height="50" align="center">
		<br>
		<span style="color: #040f17;font-size: 22px;font-weight: bold;">[TITLE]</span>
	</td>
</tr>
<tr>
	<td>
		<table width="100%" border="0" cellspacing="0" cellpadding="40">
		<tbody>
		<tr>
			<td style="font-family: arial, sans-serif;padding-bottom: 0;" colspan="2">
				<p>
					 Hemos recibido una solicitud de recuperación de clave:
				</p>
				<br>
				<table width="570" style="font-family: arial, sans-serif;">
				<tbody>
				<tr>
					<td style="background: #e8e8e8; border-radius: 10px; padding: 10px; font-size: 13px;">
						<div style="">
							<div style="">
								<p style="margin-top: 0;">
									<strong>Usuario:</strong> [EMAIL]<br>
								</p>
								<p style="margin-bottom: 0;">
									<strong>Clave:</strong> [CLAVE]<br>
								</p>
							</div>
						</div>
					</td>
				</tr>
				</tbody>
				</table>
				<div style="margin-left:40px; margin-right:40px;">
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<a href="https://www.tp3developers.cl/cetialumnos/index_desarrollo.php" style=" color: #040f17; ">Ingresar al sistema</a>
			</td>
			<td>
			</td>
		</tr>
		</tbody>
		</table>
	</td>
</tr>
<tr>
	<td style="height:20px;">
	</td>
</tr>
<tr>
	<td style="height:8px;background-color: #040f17;">
	</td>
</tr>
<tr>
	<td style="font-family:Arial, Helvetica, sans-serif; font-size:11px;">
		<br>
		<div style="margin: 0;margin-left:40px; margin-right:40px;">
			<p>
				 Este aviso se genera automaticamente, le solicitamos no responder el presente mail. <br>
				 La razon por la cual se envia sin acentos u otros caracteres especiales, es para evitar posibles errores de lectura con su software de correo electronico.
			</p>
		</div>
		<br>
	</td>
</tr>
</tbody>
</table>